*{
  margin: 0;
  padding: 0;
}
nav{
  background-color: rgb(170, 48, 170);
  
}
ul{
  display: flex;
  justify-content: end;
  gap: 20px;
}
li{
  padding: 10px;
  list-style: none;
  font-weight: 400;
  font-size: larger;
}
a{
  text-decoration: none;
  color:white
}
.red{
  background-color: blueviolet;
}